@import "./variables.scss";

#root {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  background-color: $colorLight;
}
header,
main,
footer {
  width: 100%;
  font-family: Inter;
  background-color: $colorLight;
}
h1,
h2,
h3,
a,
p {
  margin: 0;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}
header {
  position: fixed;
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid $colorDarkRed;
  border-radius: 15px;
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    li {
      padding: 5px 10px;
      margin: auto;
      display: inline;
      font-size: 18px;
      font-weight: 400;
      text-decoration-line: underline;
      text-transform: uppercase;
      cursor: pointer;
      color: $colorRed;
    }
  }
}
main {
  margin-top: 100px;
}
footer {
  color: $colorDarkRed;
  border-top: 1px solid;
  border-radius: 15px;
}
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}
