@import "./variables.scss";

#root {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
header,
main,
footer {
  width: 100%;
}
h1,
h2,
h3,
a,
p {
  margin: 0;
}
.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}
header,
footer {
  padding: 20px;
  background: url(../images/background.jpg);
  background-position: center;
  background-size: cover;
}
header {
  position: fixed;
}
main {
  margin-top: 250px;
}
header {
  h1 {
    padding: 20px 10px;
    text-align: center;
    color: $colorVeryDark;
  }
}
li {
  display: inline;
  padding: 5px 10px;
  margin: 5px;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  color: $colorVeryDark;
  border: 1px solid;
  border-radius: 15px;
  box-shadow: 7px 7px 15px 0 $colorVeryDark;
  cursor: pointer;
}
ul {
  display: flex;
  justify-content: space-around;
}
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}
