@import "./general.scss";

header{
    padding: 10px;
    background: url(../images/background.jpg);
    background-position: center;
}
header .container{
    display: flex;
    justify-content: space-around;
}
h1{
    padding: 20px 10px;
    text-align: center;
    color: $colorVeryDark;
    margin: auto 0;
}
header img{
    margin: auto 0;
    height: 100px;
    border-radius: 20px;
}

