header{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
h1{
    padding: 20px 10px;
    text-align: center;
    color: #331D2C;
    margin: auto 0;
}
img{
    margin: auto 0;
    height: 100px;
    border-radius: 20px;
}