@import "./src/assets/style/general.scss";

.cardsWords{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.wordCard{
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid;
    color: $colorVeryLight;
    background-color: $colorVeryDark;
}
.wordCard div, .wordCard h3{
    padding: 5px;
}