@import "./src/assets/style/general.scss";

header{
    padding: 10px;
    background: url(../../images/background.jpg);
    background-position: center;
    background-size: cover;
}
.head{
    display: flex;
    justify-content: space-around;
}
h1{
    padding: 20px 10px;
    text-align: center;
    color: $colorVeryDark;
}
header img{
    height: 100px;
    border-radius: 20px;
}
li{
    display: inline;
    padding: 5px 10px;
    margin: 5px;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    color: $colorVeryDark;
    border: 1px solid;
    border-radius: 15px;
    cursor: pointer;
}
ul{
    display: flex;
    justify-content: space-around;
}
a:link, a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover{
    font-weight: 700;
}