@import "./src/assets/style/variables.scss";

.error {
  padding: 50px 20px;
  margin: 20px auto;
  h1 {
    text-align: center;
    font-size: 40px;
    color: $colorRed;
  }
  h2 {
    text-align: center;
    font-size: 150px;
    color: $colorDarkRed;
  }
  p {
    text-align: center;
    font-size: 30px;
    color: $colorRed;
  }
}
