@import "./src/assets/style/variables.scss";

h2{
    padding: 30px 10px;
    text-align: center;
    font-size: 24px;
    color: $colorVeryDark;    
}
.wordListContainer{
    margin: 250px 20px 70px;
}
table.wordList{
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    //border-collapse: collapse;
    color: $colorDark;
    background-color: $colorLight;
}
thead {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    //border: double $colorDark;
}
thead td{
    border: double $colorDark;
}
td{
    padding: 5px;
    border: 1px solid;
}
tbody tr td:first-child{
    font-weight: 500;
}
tbody tr td:last-child{
    text-align: center;
}
button{
    padding: 5px;
    margin: 0px 7px;
    border: none;
    cursor: pointer;
    background-color: $colorLight;
}
.btn img{
    width: 30px;
    height: 30px;
}
.selected{
    border: double $colorVeryDark;
    background-color: $colorVeryLight;
}
.selected button{
    display: inline-block;
    background-color: $colorVeryLight;
}
input{
    padding: 10px 5px;
    font-size: 18px;
    outline: none;
    border: none;
    color: $colorDark;
    background-color: $colorVeryLight;
}
