@import "./src/assets/style/variables.scss";

.wordListContainer {
  margin: 20px;
  h2 {
    padding: 25px 10px;
    text-align: center;
    font-size: 30px;
    color: $colorVeryDark;
  }
  #head {
    p {
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      border: double $colorDark;
    }
  }
  .listContainer {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    grid-gap: 3px;
    color: $colorDark;
    background-color: $colorLight;
    p:nth-child(1),
    p:nth-child(4),
    input:nth-child(1),
    input:nth-child(4) {
      width: 15%;
    }
    p:nth-child(2),
    input:nth-child(2),
    div,
    p:nth-child(5) {
      width: 20%;
    }
    p:nth-child(3),
    input:nth-child(3) {
      width: 30%;
    }
    p,
    div,
    input {
      padding: 10px;
      font-size: 22px;
      border: 1px solid;
      box-sizing: border-box;
    }
    p:first-child {
      font-weight: 500;
    }
    div {
      text-align: center;
      button {
        height: 38px;
        padding: 5px;
        margin: 0px 7px;
        border: none;
        cursor: pointer;
        background-color: $colorLight;
        img {
          height: 100%;
        }
        &:disabled {
          opacity: 0.5;
          cursor: auto;
        }
      }
    }
    input {
      color: $colorDark;
      background-color: $colorVeryLight;
      outline: none;
      &.empty {
        border: 1px solid #ff0000;
      }
    }
  }
  .newWord {
    display: block;
    padding: 10px 20px;
    margin: 20px auto;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    color: #233479;
    background-color: $colorVeryLight;
    border: 1px solid;
    border-radius: 15px;
    cursor: pointer;
  }
}
